@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
body {
    margin: 0;
}
a:visited, a:link, a:active, a:hover {
    color: black;
    text-decoration: none;
}
.header {
    background-color: rgb(49, 145, 255);
    color: white;
    padding: 0.8rem;
    font-size: 1.6em;
    font-weight: bold;
}
.nav {
    font-family: 'Noto Sans KR', sans-serif;
    width: 15%;
    min-height: 946px;
    border-right: 2px solid rgb(49, 145, 255);
    display: inline-block;
}
ul, li {
    list-style: none;
    padding: 0;
}
li {
    padding: 2rem;
    font-size: 1.2em;
}
li:hover {
    background-color: #ccc;
}
.container {
    display: inline-block;
    width: 84.89%;
    height: 946px;
    vertical-align: top;
}
.home {
    margin: 6% auto;
    width: 80em;
    text-align: center;
    background: linear-gradient(to right top, #163486, #9efff2);
    color: transparent;
    -webkit-background-clip: text;

}
.home p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    
}
.port-list {
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    width: 300px;
    border-right: rgb(49, 145, 255) 1px solid;
    height: 946px;
    overflow-y: scroll;
}
.port-list::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.port-list::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgb(33, 65, 133);
    border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.port-list::-webkit-scrollbar-track{
    background-color: rgba(33, 51, 133, 0.33);
}
.portfolio {
    height: 946px;
}
.port-contents {
    display: inline-block;
    width: auto;
    vertical-align: top;
    padding: 0 6.5em;
    padding-top: 7em;
}
.port-contents img {
    border: 1px solid rgba(204, 204, 204, 0.651);
}
.ymanager p {
    display: inline-block;
    vertical-align:top;
    margin: 200px 0;
    padding: 1.2em;
}
.port_h {
    font-weight: bold;
    font-size: 1.2em;
}
.ymanager p a:hover {
    text-decoration: underline;
}
.about {
    padding: 15rem 10rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.about p span {
    font-size: 1.2em;
    font-weight: bold;
}
.about img {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.541);
    margin: 0 18px;
    margin-left: 78px;
}
.my_info {
    margin: 56px 30px;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid #ccc;
    padding: 0 3rem;
}
.award {
    text-align: center;
    margin-top: 150px;
}
.a {
    width: 100px;
}
.hr {
    width: 46%;
    margin: 60px auto;
}
.contact {
    margin-top: 200px;
    text-align: center;
}
.github, .instagram {
    min-width: 400px;
    display: inline-block;
    font-size: 10em;
    cursor: pointer;
    margin:  auto 100px;
}
:is(.github, .instagram) p {
    font-size: 0.2em;
}